* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
}

#container {
	padding-top: 3em;
	font-family: Arial, sans-serif;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
}

h1 {
	margin-bottom: 0.5em;
}

button {
	font-size: 1.5rem;
	padding: 10px 15px;
	border-radius: 10px;
	border: none;
	background-color: #ff0000;
	color: white;
	cursor: pointer;
	margin: 10px;
}

button:hover {
	background-color: #ff3333;
}

button:active {
	background-color: #ff9999;
}

input {
	font-size: 2rem;
	width: 150px;
	text-align: center;
	font-weight: 700;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
}

#diceResult {
	margin: 1em;
}

#diceImages img {
	margin: 0.7em;
	width: 150px;
}

@media screen and (max-width: 350px) {
	#container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#container,
	input,
	#diceResult {
		font-size: 1.5rem;
	}

	input,
	button {
		margin: 10px;
	}

	#diceResult {
		margin: 20px 10px;
	}

	input {
		width: 100px;
	}

	button {
		font-size: 1.5rem;
		padding: 5px 10px;
		margin: 5px;
	}

	#diceImages img {
		margin: 0.5em;
		width: 100px;
	}
}

@media screen and (max-width: 530px) {
	#container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	input,
	button {
		margin: 10px;
	}

	#diceResult {
		margin: 20px 10px;
	}
}
